<!DOCTYPE html>

    <h1>FARM SHARING</h1>
   
    <div id="slideshow">
   <p class="active">
      <a href="リンク先"><img src="assets/vegetables-free-photo1.jpg" alt="画像1"></a>
      
   </p>
   <p>
      <a href="リンク先"><img src="assets/vegetables-free-photo2.jpg" alt="画像2"></a>
      
   </p>
   <p>
      <a href="リンク先"><img src="assets/vegetables-free-photo3.jpg" alt="画像3"></a>
      
   </p>
   <p>
      <a href="リンク先"><img src="assets/vegetables-free-photo4.jpg" alt="画像4"></a>
      
   </p>
   <p>
      <a href="リンク先"><img src="assets/vegetables-free-photo5.jpg" alt="画像5"></a>
      
   </p>
</div>

    <p>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>


  
    
    <div class="center jumbotron">
  <h1>Welcome to the FARM SHARING</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!",new_member_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>