@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-top:70px;
}
h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color:#40d47e;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: red;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color:white;
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left:180px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: white;
  text-decoration: none;
  }
}
.container ul {
  margin-top:10px;
  padding-right:450px;
}
.container ul li{
  font-color:red;
  font-size:15px;
  text-decoration: underline;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.navbar-right li a{
  color: green !important;
  &:hover {
  background-color: #40d47e !important;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: black;
  a {
  color: black;
  &:hover {
  color: white;
  }
}
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#slideshow {
   position: relative;
   width:  100%; /* ボックスの横幅 */
   height: 580px; /* ボックスの高さ */
}

#slideshow p {
   position: absolute;
   top:  0;
   left: 0;
   z-index: 8;
   opacity: 0.0;
   margin: 0;
   background-color: green; /* ボックスの背景色(必須) */
   height: 300px; /* ボックスの高さ */
}

#slideshow p.active {
   z-index: 10;
   opacity: 1.0;
}

#slideshow p.last-active {
   z-index: 9;
}

#slideshow p img {
   width:  100%; /* 画像の横幅 */
   height: 580px; /* 画像の高さ */
   display: block;
   border: 0;
   margin-bottom: 10px; /* 画像下部の余白 */
}

#title {
   position: absolute;
   margin-top:-400px;
   z-index:11;
   margin-left:18%;
   text-align:center;
}
#title h2{
    color:white;
    font-size:20px;
}

.container{
  background-color:white;
  width:100%;
}
.contents_box1{
   border-top: 1px solid $gray-medium-light;
   padding-top: 35px;

}
.contents_box2{
   border-top: 1px solid $gray-medium-light;
   padding-top: 35px;

}
.contents_box1 img{
  position:relative;
  left: 20px;
  top: 50px;
}
.contents_box2 img{
  position:relative;
  left: 20px;
  top: 50px;
}

#about p{
  color:#27ae60;
}

.contents_box1 p{
   position:relative;
   left: 200px;
   bottom: 250px;
   font-size:15px;
   color:#27ae60;

}

.contents_box2 p{
   position:relative;
   left: 200px;
   bottom: 250px;
   font-size:15px;
   color:#27ae60;

}
.contents_box3 p{
   color:#27ae60;

  
}
/******************************

 ソーシャルエリア全体を囲む要素
 * 他のコンテンツと距離を取りたい場合は[margin]を設定して下さい

******************************/
.social-area-syncer {
  width: 100% ;
  min-height: 190px ;
  background: #F5F1E9 ; /* 背景色 */
  padding: 1.5em 0 ;
}

/* デスクトップPCでは高さを拡張する */
@media screen and ( min-width:480px ) {
  .social-area-syncer {
    min-height: 119px ;
  }
}


/******************************

 [ul]要素

******************************/
/* スマホ */
ul.social-button-syncer {
  width: 238px ;
  margin: 24px auto ;
  padding: 0 ;
  border: none ;
  list-style-type: none ;
}

/* デスクトップ */
@media screen and ( min-width:480px ) {
  ul.social-button-syncer {
    width: 410px ;
  }
}


/******************************

 [li]要素

******************************/
ul.social-button-syncer li {
  float: left ;
  text-align: center ;
  height: 71px ;
  margin: 0 8px ;
  padding:0 ;
}


/******************************

 各種ボタン

******************************/
/* [Twitter] */
.sc-tw {
  width: 71px ;
}

.sc-tw svg {
  width: 30px ;
  height: 30px ;
 }

.sc-tw a {
  height: 56px ;
  margin: 0 auto ;
  padding-top: 6px ;
  display: block ;
  background: #1B95E0 ;
  font-size: 12px ;
  color: #fff ;
  font-weight: 700 ;
  text-decoration: none ;
  letter-spacing: .5px ;
  border-radius: 2px ;
}

.sc-tw a:hover {
  color: #fff ;
  background: #0c7abf ;
}

.sc-tw span:before {
  white-space: pre ;
  content: '\A' ;
}

/* [Facebook] */
.sc-fb {
  z-index: 99 ;
  width: 69px ;
}

/* [LINE] */
.sc-li {
  width: 50px ;
}

.sc-li-img {
  border: none ;
  margin: 0 auto ;
  padding:0 ;
  width: 36px ;
  height: 60px ;
}

/* デスクトップPCではLINEボタンを表示しない */
@media screen and ( min-width:480px ) {
  .sc-li {
    display: none ;
  }
}
