.mypage {
	background-color: #efecdb;

}
.mp-wrapper{
	height: 3000px;
	background-color: #efecdb;

}
.prof-wrap{
	height: 3000px;

}

.member-box {
	margin-top:65px;
	background-color: #ffffff;
    border-radius: 20px;
}


.member-box th {
	width: 100px;
}
.post-item{
	margin-left: 200px;
    font-family: monospace;
    font-size: 25px;
    color: #330000;	
}
.post-item-box{
	height:300px;
	img{
		margin-top:15px;
		border-radius:7px;
	}
	h4{

		margin-top:15px;
	}
}
.postitem_image img {
	width:130px;
	height:130px;
}
.postitem-name{
	font-weight:bold;
}
.post-item-wrap{
	margin-top:30px;
	background-color: #ffffff;
	border-radius:10px;
}
.mypage h1{
	color: #330000;
}
